# Android
.gradle/
build/
local.properties
.idea/
*.iml
.kotlin/
captures/
.externalNativeBuild/
.cxx/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile
*.log
*.txt
!CMakeLists.txt

# SDK & Llama
scypheon_sdk/build/
scypheon_sdk/.cxx/
llama/build/
llama/.cxx/

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# User-specific
.DS_Store
.idea/

# Exclude Binaries over 100MB
*.exe
*.obj
*.bin
**/.shm/
scypheon_private/app/src/main/assets/.shm/

# Exclude other projects
/VITREON/
/VITREON_BACKUP_AGENTIC/
/scypheon-desktop/
/llama.cpp/
/Scypheon-Public/
/ai_engine/
/brain/
/Archive/
/.venv/
/temp_build_vul_gen/
/temp_ui/
/phase2_validation/
/deployement/
/kaggle_submission/
/legacy/

# Exclude root specific script and JSON files
/*.json
/*.py
/*.bat
/*.ps1
