<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".core.humanitarian.DangerAlertActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <service
            android:name=".core.automation.PuppetMasterAndroid"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".core.agent.tool.SandboxedToolService"
            android:process=":tool_sandbox"
            android:exported="false"
            android:isolatedProcess="false" />

        <service
            android:name=".core.agent.tool.IsolatedComputeService"
            android:process=":compute_sandbox"
            android:exported="false"
            android:isolatedProcess="true" />
    </application>
</manifest>
